# =========================
# IDEs
# =========================

# IntelliJ IDEA
.idea/
*.iml
out/
*.ipr
*.iws

# VS Code
.vscode/
.history/
*.code-workspace

# =========================
# Build Tools
# =========================

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# =========================
# Java / Spring
# =========================

# Compiled files
*.class

# Archives
*.jar
*.war
*.ear

# Logs & temp
logs/
*.log
*.tmp
*.bak
*.swp

# Spring Boot configs
*.env
application-*.yml
application-*.properties

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
